<%= @quiz.name %>
<% @quiz.questions.each do |question| %>
  <div>
    <p><%= question.body %></p>
    <% question.answers.each do |answer| %>
      <p> <%= answer.body %> </p>
      <p> <%= answer.correct %> </p>
      ----- <br>
    <% end %>
  </div>
<% end %>

