<div class='jumbotron'>
  <h1>Hello, world!</h1>
  <p> Welcome to the site</p>
  <div class="jr-tilty blocky"> I should tilt on hover </div>
  <p><a class="btn btn-primary btn-lg" href="<%= user_omniauth_authorize_path(:github) %>" role="button">Login with Github</a></p>
</div>
