.repo-wrapper {
  height: 300px;
  background: lightblue;
  border: thin black solid;
}

.repo {
  height: 90%;
  width: 90%;

  /*these 3 lines center vertically*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  /*this centers horizontally*/
  margin: 0 auto;

  padding: 10px;
  background: lightgreen;
}
